<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Registretion</title>
    <link rel="stylesheet" href="../public/css/auth.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="overlay"></div>
            <div class="text">
                <h1>FoodieDash</h1>
                <p>Join our community of food lovers!</p>
            </div>
        </div>
         <div class="right">
        <div class="form-box">
            <h2>Create Your Account</h2>
            <p>Start your delicious journey today!</p>
            <input id="email" type="email" placeholder="📧 Email Address">
            <input id="password" type="password" placeholder="🔒 Password">
            <div class="terms">
                <input type="checkbox">I agree to the Terms & Conditions
            </div>
            <button onClick="login()">Login</button>
            <p class="login">Already have an account? <a href="/Food-app/view/registration.html"><span id="loginSpan">Sign In</span></a></p>
        </div>
        </div>
    </div>
    <script src="../public/js/auth.js"></script>    
</body>
</html>
